@charset "utf-8";

:root {
    --box-border-bright: #b7c3c3;
    --box-border-dark: #5b7373;
    --box-background-color: #839797;
    --box-border-up: var(--box-border-bright) var(--box-border-dark) var(--box-border-dark) var(--box-border-bright);
    --box-border-down: var(--box-border-dark) var(--box-border-bright) var(--box-border-bright) var(--box-border-dark);
}

#chatWrap .chat {
    padding: 0;
}

#chatWrap .chat .header {
    box-sizing: border-box;
    justify-content: center;
    border: 1px solid;
    border-color: var(--box-border-down);
    width: 100%;
    height: 25px;
    padding: 3px;
    font-weight: bold;
    font-family: dotum, serif;
    text-shadow: 1px 1px 0 #101010;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    background-color: #2f4343;
}
#chatWrap .chat .message {
    white-space: pre-line;
    word-break: break-word;
    max-height: 200px;
    border: 1px solid;
    border-color: var(--box-border-up);
    padding: 5px;
    color: #000000;
    font-weight: normal;
    font-family: dotum, serif;
    font-size: 14px;
    background-color: #839797;
    text-shadow: none;
    vertical-align: middle;
    overflow: hidden;
}
#chatWrap .chat .platform {
    position: absolute;
    right: 0;
}
