<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{@title}</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    {@cssList}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    {@jsList}
</head>

<body>
    <header>
        <div id="logo">TKbot</div>
        <nav>
            <ul>
                <li><a href="/">Main</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/chat#{@session:channelUid}" target="_blank">Chat</a></li>
                <li><a href="/tts#{@session:channelUid}" target="_blank">TTS</a></li>
                <!-- <li><a href="/logout">Logout</a></li> -->
            </ul>
        </nav>
    </header>
    <div id="content">
        {@content}
    </div>
</body>
</html>
